.idea
cmake-build-debug
cmake-build-release
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
*.exe
*.lib
*.pdb
stb
.vs
out
CMakeSettings.json

# Binary files of 'FFmpeg'.
ffmpeg/*.dll

# Binary files of 'libpng'.
libpng/bin/*.dll
